@import "tailwindcss";

@theme {
    --color-primary: var(--color-blue-600);
    --color-primary-hover: var(--color-blue-700);
    --color-slate-900: #0f172a;
    --color-slate-800: #1e293b;
    --color-slate-700: #334155;
    --color-slate-600: #475569;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }
}